{% include base_path %}

{% assign all_tags = page.tags | sort %}
<script>console.log('all_tags')</script>
<p class="page__taxonomy">
  <strong><i class="fa fa-fw fa-tags" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].tags_label }} </strong>
  <span itemprop="keywords">
  {% for page_tag in all_tags %}
    {% assign tag = page_tag | downcase %}
    <a href="{{ base_path }}{{ tag | slugify | prepend: '#' | prepend: '/tags/' }}" class="page__taxonomy-item" rel="tag">{{ tag }}</a>{% unless forloop.last %}<span class="sep"></span>{% endunless %}
  {% endfor %}
  </span>
</p>
