<!DOCTYPE html>
<html>
  <head>
    {% include google_analytics.html %}

    <title>Vitalii Elenhaupt - Software Engineer</title>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>

    <meta name='viewport'
          content='user-scalable=yes,
                   width=device-width,
                   initial-scale=1' >

    <link href="../../../../normalize.css" rel="stylesheet" type="text/css" />
    <link href="../../../../webfonts/ss-social-circle.css" rel="stylesheet" />
    <link href="../../../../style.css" rel="stylesheet" type="text/css" />

    <link rel="icon"
          type="image/png"
          href="https://s.gravatar.com/avatar/fb7415aea80a8fa64f7427086eedb6ee?s=32">
  </head>
  <body>
    <div id="navigation">
      <a id="avatar"
         title="veelenga"
         href="/">
         <img src="https://s.gravatar.com/avatar/fb7415aea80a8fa64f7427086eedb6ee?s=200" alt="Vitalii Elenhaupt" />
      </a>
      <a title="twitter"
         href="http://twitter.com/veelenga"
         class="ss-icon ss-social-circle">
         twitter
      </a>
      <a title="facebook"
         href="https://www.facebook.com/vitaliy.elengaupt"
         class="ss-icon ss-social-circle">
         facebook
      </a>
      <a title="github"
         href="https://github.com/veelenga"
         class="ss-icon ss-social-circle">
         githuboctocat
      </a>
      <a title="stack overflow"
         href="http://stackoverflow.com/users/1586762/vitalii-elenhaupt"
         class="ss-icon ss-social-circle">
         stackoverflow
      </a>
      <a title="skype"
         href="skype:velenhaupt"
         class="ss-icon ss-social-circle">
         skype
      </a>
      <a title="email"
         href="mailto:velenhaupt@gmail.com"
         class="ss-icon ss-social-circle">
         email
      </a>
    </div>

    <div id='container'>
      {{ content }}
    </div>
  </body>
</html>
